Source: ros-indigo-opencv
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stoneir@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libqt4-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-opencv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dev, ros-indigo-catkin
Description: Forked version of opencv with experimental parallel thread qt support.
